/* Add styles here */

body {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
  font-size: 20px;
}
.info {
  max-width: 500px;
  margin: 1em auto;
  font-size: 12px;
  color: #777;
}
path {
  stroke-width: 0.2;
  stroke: black;
}
.nodata {
  fill: #ccc;
}
.ok {
  fill: rgb(22,167,34);
}
.slowing {
  fill: rgb(253,158,59);
}
.slow {
  fill: rgb(251,0,7);
}
.stopped {
  fill: rgb(40,0,4);
}
.desc {
  font-size: 12px;
  line-height: 12px;
}
.whisker {
  stroke-width: 0.5px;
  fill: black;
  stroke: black;
}
a {
  text-decoration: none;
}